.button {
    background: palegreen;
}

.button_size_small {
    padding: 4px;
}

.button_size_medium {
    padding: 8px;
}

.button_size_large {
    padding: 12px;
}

.button_bg_red {
    background-color: palevioletred;
}

.button_bg_green {
    background-color: lightgreen;
}

.button_bg_blue {
    background-color: lightblue;
}